In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
# from xgboost import XGBRegressor
from xgboost import XGBRegressor

from sklearn.ensemble import VotingRegressor, RandomForestRegressor, GradientBoostingRegressor,StackingRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error, r2_score ,accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(r"Dataset.csv")
df.head(10)

,Degree,Major,CGPA,Employed,Experience,Skills,Certifications,IndustryPreference,Job Role Simplified,Job Role
0,MBA,Economics,8.16,yes,9,"R, Econometrics, Data Analysis, Python, Statis...",AWS Certified,IT,Financial Analyst,Data Analyst
1,MBA,Economics,6.66,no,7,"Data Analysis, R, Econometrics, Python, Statis...",PMP,IT,Financial Analyst,Data Analyst
2,MBA,Finance,6.95,no,9,"Financial Modeling, Excel, Risk Analysis",Six Sigma,Manufacturing,Investment Analyst,Data Analyst
3,MCA,Computer Science,7.15,no,4,"Java, Machine Learning, Python, C++",Data Science Certificate,Manufacturing,Data Analyst,Data Analyst
4,B.Tech,Computer Science,7.70,no,6,"C++, Python, SQL",Six Sigma,Finance,Software Engineer,Software Engineer
5,MCA,Computer Science,9.00,yes,2,"Python, C++",PMP,Engineer,Software Engineer,Software Engineer
6,M.Tech,Computer Science,5.80,no,10,"Java, Python",Six Sigma,Education,Software Engineer,Software Engineer
7,B.Tech,Computer Science,5.50,no,3,"Machine Learning, C++",AWS Certified,IT,Data Analyst,Data Analyst
8,M.Tech,Mechanical,6.89,yes,10,"MATLAB, SolidWorks, Thermodynamics",PMP,IT,Design Engineer,Software Engineer
9,B.Tech,Electrical,5.87,yes,8,"Embedded Systems, C, Circuit Design, MATLAB, VHDL",Six Sigma,Manufacturing,Embedded Systems Engineer,Software Engineer

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9523 entries, 0 to 9522
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Degree               9521 non-null   object
 1   Major                9523 non-null   object
 2   CGPA                 9523 non-null   float64
 3   Employed             9523 non-null   object
 4   Experience           9523 non-null   int64
 5   Skills               9523 non-null   object
 6   Certifications       9523 non-null   object
 7   IndustryPreference   9523 non-null   object
 8   Job Role Simplified  9523 non-null   object
 9   Job Role             9523 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 744.1+ KB

              CGPA   Experience
count  9523.000000  9523.000000
mean      7.613978     6.193111
std       1.453102     4.111907
min       5.000000     0.000000
25%       6.400000     3.000000
50%       7.620000     6.000000
75%       8.920000     9.000000
max      10.000000    15.000000

In [4]:
df = df.drop_duplicates()

In [5]:
df.isnull().sum()

Degree                 2
Major                  0
CGPA                   0
Employed               0
Experience             0
Skills                 0
Certifications         0
IndustryPreference     0
Job Role Simplified    0
Job Role               0
dtype: int64

In [6]:
df=df.dropna()

In [7]:
df.isnull().sum()

Degree                 0
Major                  0
CGPA                   0
Employed               0
Experience             0
Skills                 0
Certifications         0
IndustryPreference     0
Job Role Simplified    0
Job Role               0
dtype: int64

In [8]:
df.describe()
X = df.drop(columns='Job Role')
y = df['Job Role']

In [9]:
categorical_cols = ['Degree', 'Major', 'Employed', 'Skills', 'Certifications', 'IndustryPreference']
for col in categorical_cols:
    X[col] = X[col].astype(str)

# One-Hot Encoding for categorical variables
X_encoded = pd.get_dummies(X, columns=categorical_cols)

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

# -----------------------------
# 1. Load dataset
# -----------------------------
df = pd.read_csv("Dataset.csv")

# Drop unwanted columns (if present)
df = df.drop(columns=["Prediction Confidence", "Predicted Job Role"], errors="ignore")

# Remove rows where Job Role is "Other"
df = df[df["Job Role"] != "Other"]

# Drop nulls
df = df.dropna()

# -----------------------------
# 2. Separate target and features
# -----------------------------
y = df["Job Role"]            # target column
X = df.drop(columns=["Job Role", "Job Role Simplified"], errors="ignore")  # drop target and problematic feature

# -----------------------------
# 3. One-hot encode categorical features
# -----------------------------
categorical_cols = ["Degree", "Major", "Employed", "Skills", "Certifications", "IndustryPreference"]
categorical_cols = [c for c in categorical_cols if c in X.columns]  # keep only existing

X[categorical_cols] = X[categorical_cols].astype(str)
X_encoded = pd.get_dummies(X, columns=categorical_cols)

# -----------------------------
# 4. Encode target
# -----------------------------
le = LabelEncoder()
y_encoded = le.fit_transform(y)

# -----------------------------
# 5. Train/test split
# -----------------------------
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y_encoded, test_size=0.2, random_state=42
)

# -----------------------------
# 6. Train RandomForestClassifier
# -----------------------------
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# -----------------------------
# 7. Evaluate
# -----------------------------
accuracy = model.score(X_test, y_test)
print(f"✅ Model Test Accuracy: {accuracy:.2f}")

# Optional: map predictions back to original labels
predicted_labels = le.inverse_transform(model.predict(X_test))
print("Sample predictions:", predicted_labels[:10])

✅ Model Test Accuracy: 0.99
Sample predictions: ['Software Engineer' 'Mechanical Engineer' 'Academia' 'Data Analyst'
 'Academia' 'Healthcare' 'Data Scientist' 'Software Engineer'
 'Data Scientist' 'Software Engineer']